body{
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', cursive;
}
.title{
    font-size: 40px;
}
.colored-text{
    color: coral;
}
.row{
    display: flex;
    
}
.top-sec{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.col{
    width: 50%;
    margin: 50px 100px;
}
.btn{
    border: none;
    padding: 10px 30px;
    color: rgb(255, 255, 255);
    background-color: crimson;
    font-size: larger;
    border-radius: 5px;
    cursor: pointer;
}
.col img{
    width: 100%;
}
.card{
    box-shadow: 5px 5px 30px cyan;
    padding: 50px;
}
.dream-sec{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.exp-sec{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position:left ;
}
footer{
    text-align: center;
    margin-top: 50px;
}