body{
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', cursive;
}
.title{
    font-size: 50px;
}
.colored-text{
    color: coral;
}
.row{
    display: flex;
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.col{
    width: 50%;
    margin: 50px 100px;
}
.hire-btn{
    border: none;
    padding: 10px 30px;
    color: rgb(255, 255, 255);
    background-color: crimson;
    font-size: larger;
    border-radius: 5px;
    cursor: pointer;
}
.col img{
    width: 100%;
}